.ui-editor {
  padding: 1rem;
  pointer-events: none;
  opacity: 0;
  background: white;

  &.-active {
    pointer-events: auto;
    animation: editor-enter 0.3s ease-in-out both;
  }
}

@keyframes editor-enter {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
